@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h2, h3 {
    margin: 0
}

hr {
    margin: 0 0 1rem 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    border: 1px solid orange;
}

.logo {
    width: 3rem;
}

.box {
    border: 1px solid black
}

.stockName {
    margin: 0
}

.news-image {
    width: 250px;
}

.date {
    margin-bottom: 1rem;
}

.pos {
    color: green;
}

.neg {
    color: red;
}